<div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-12 body-content'>
          <h1>Shopping List</h1>
      </div>
    </div>        
    <div class='row ' >
            <div class='col-sm-12'>
                <ul class = "list-group">
                    <li class="list-group-item">
                        <a routerLink="/list" routerLinkActive="active">Create New Shopping List</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/load" routerLinkActive="active">Load a Saved Shopping List</a>
                    </li>                 
                   
                </ul>              
            </div>
          </div>
    <div class='row'>
      <div class='col-sm-12 body-content'>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
