

<div class="container">
                <div class="row justify-content-start">
                  <div class="col">

                     <table  class="table table-bordered">
                         <thead>
                         <tr>
                     <th>Items</th>
                          </tr>
                                                </thead>
                                                <tbody>
                                                        <tr *ngFor="let item of items; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                                                        <td style ="word-break: break-all;">{{item.item}}</td>
                                                        </tr>
                                                </tbody>
                                                </table>

                  </div>
                </div>

        <div class="row justify-content-center">
                  <div class="col">
                   
                                                     
                                <button type="button" class="btn btn-sm btn-default" (click)="setpreviousitem(selectedRow)" value=">">></button>
                                <button type="button" class="btn btn-sm btn-default"(click)="setpreviousitemtonew(selectedPrevRow)" value="<"> < </button>
                                                                
                                <input type="text" id="input" >  <div><input type="button" (click)="setnewitem(i)" value="new item "></div>    
                                       
                            </div>
                        </div>
            <div class="row justify-content-start">
        <div class="col">
                   
                  <table class="pervioustable table table-hover">
                        <thead>
                             <tr>
                             <th>Previous Items</th>
                             </tr>
                               </thead>
                                     <tbody *ngFor="let item of previousitems; let i = index" (click)="setClickedPrevRow(i)" [class.active]="i == selectedPrevRow">
                                  <tr>
                              <td id = {{i}}>{{item.item}}</td>
                                                        
                          </tr>
                        </tbody>
                   </table>

                  </div>
                  
                </div>
              </div>